* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* li {
  margin: 0;
  padding: 0;
}

.upper {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.book-item {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.688rem;
  background-color: #fff;
  padding: 2rem 1.688rem;
  margin-bottom: 0.938rem;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
}

.left {
  width: 40%;
  gap: 1.313rem;
}

.book-category {
  /* font-family: Montserrat, sans-serif;
  font-size: 0.875rem; */
  font-weight: bold;
  opacity: 0.5;
  margin-bottom: 0.25rem;
}

.book-title {
  font-family: 'Roboto Slab-Bold';
  font-weight: bold;
  text-align: left;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: var(--black-two);
  padding: 0.25rem 0;
}

.book-author,
.interactions > li {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--cool-blue);
  cursor: pointer;
}

.interactions {
  justify-content: flex-start;
}

.interactions > li {
  border: none;
  background-color: transparent;
  padding: 0 1rem;
  border-right: 1px solid var(--grey-border);
}

.interactions > li:first-child {
  padding-left: 0;
}

.interactions > li:last-child {
  border: none;
}

.interactions > li button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.book-item .book-progress {
  align-items: center;
  gap: 0.688rem;
}

.circular-progressbar {
  width: 4.25rem;
}

.percent-num,
.percent-txt {
  font-family: Montserrat, sans-serif;
}

.percent-num {
  font-size: 2rem;
}

.percent-txt {
  font-size: 0.875rem;
  opacity: 0.5;
}

.book-item .vert-separator {
  background-color: var(--grey-border);
  width: 0.125rem;
  height: 4.375rem;
}

.book-item .book-chapter {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.book-item .book-chapter p {
  margin-bottom: 0.438rem;
}

.book-item .book-chapter button {
  margin-top: 1rem;
}

.book-chapter .chapter-title {
  font-size: 0.813rem;
  opacity: 0.5;
}

.book-chapter .chapter-name {
  font-size: 1rem;
  letter-spacing: -0.4px;
}
