* a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.438rem 6.25rem 1.688rem;
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-border);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2.938rem;
}

.navbar h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}

nav {
  display: flex;
  gap: 2.563rem;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.user-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  border: 1px solid var(--grey-border);
  border-radius: 50%;
}
