#root {
  background-color: var(--dirty-white);
  margin: 3.45% 2%;
  border-radius: 4px;
}

.books-page,
.categories-page {
  background-color: var(--dirty-white);
  box-shadow: 3rem 2rem 50px 4px rgb(0 0 0 / 18%);
  padding: 0 7.2195%;
  padding-top: 2.313rem;
  padding-bottom: 4.5rem;
  border-radius: 4px;
}

.books-ul {
  padding-bottom: 1.562rem;
  border-bottom: 1px solid var(--grey-border);
}

.button {
  max-width: 11.5rem;
  font-family: "Roboto Slab", serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 0.5rem 0;
  color: var(--dirty-white);
  background-color: var(--azure);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* ******* */

/* @ MEDIA */

/* ******* */
@media (min-width: 768px) {
  #root {
    margin: 7.3% 4.125%;
  }

  .books-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.938rem;
  }
}

@media (min-width: 1264px) {
  #root {
    width: 87.5%;
    margin: 10.3911% 6.25%;
  }

  .books-ul {
    display: block;
  }
}
